{{ define "404" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>kresimir.dev</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="icon" type="image/x-icon" href="../static/icons/favicon.ico">
</head>
<body>
<header class="container">
  <nav>
    <a href="/"><- Go back</a>
    <h1>404: Not found</h1>
  </nav>
</header>

<section class="container">
  <p>
    If you think something is missing here feel free to reach out to me.
  </p>
</section>

<div class="container">
  <p class="separator">*****</p>
</div>

<div class="container">
  <p>
    Insert cricket noises here.
  </p>
</div>

{{ template "footer" . }}
</body>
</html>
{{ end }}