{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Software engineer and an audio enthusiast documenting his journey in the ever-changing positive chaos.">
    <title>kresimir.dev</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/x-icon" href="../static/icons/favicon.ico">
</head>
<body>
    <header class="container">
        <nav>
            <h1>kresimir.dev</h1>
        </nav>
    </header>

    <section class="container">
        <p>
            Hi there. I’m Krešimir, neighborhoods tech tinker and an audiophile.
            If its 2am and one light remains in an apartment building that’s probably me trying to dial in a snare EQ or fix an ongoing production issue.
        </p>
    </section>

    <div class="container">
        <p class="separator">*****</p>
    </div>

    {{range .}}
        {{ template "post" . }}
    {{ end }}

    {{ template "footer" . }}
</body>
</html>
{{ end }}