{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kresimir.dev</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/x-icon" href="../static/icons/favicon.ico">
</head>
<body>
    <header class="container">
        <nav>
            <h1>kresimir.dev</h1>
        </nav>
    </header>

    <section class="container">
        <p>
            Hi there. I’m Krešimir, neighborhoods tech tinker and an audiophile.
            If its 2am and one light remains in an apartment building that’s probably me trying to dial in a snare EQ or fix an ongoing production issue.
        </p>
    </section>

    <div class="container">
        <p class="separator">*****</p>
    </div>

    {{range .}}
    <a href="/post/{{ .Slug }}">
        <section class="container post">
            <h2 class="post-title">{{ .Title }}</h2>
            <p class="post-date">{{ .Date }}</p>
            <p class="post-description">
                {{ .Description }}
            </p>
            <p class="post-button">Read more</p>
        </section>
    </a>
    {{ end }}

    {{ template "footer" . }}
</body>
</html>
{{ end }}