<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kresimir.dev</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/x-icon" href="../static/icons/favicon.ico">
</head>
<body>
<header class="container">
    <nav>
        <a href="/"><- Go back</a>
        <h1>Test post</h1>
    </nav>
</header>

<section class="container">
    <p>
        This is a short summary of a test post. All key points will usually go here.
    </p>
</section>

<div class="container">
    <p class="separator">*****</p>
</div>

<div class="container">
    <p>
        Thank you for checking out this test post. You rock.
    </p>
</div>

<footer class="container">
    <p class="separator">*****</p>
    <p>X</p>
</footer>
</body>
</html>